@inherits umbraco.MacroEngines.DynamicNodeContext
@using meramedia.Umbraco.GoogleMaps.Objects
@*@{
    //if( Parameter["MapPropertyName"] == null || Parameter["MapPropertyName"] == "") {
    //    return;
    //}
    
    // Parse google map
    GoogleMap map = GoogleMap.Parse(Model.GetPropertyValue(Parameter["MapPropertyName"].ToString()));
        
    if(map == null) {
        <!-- Something went wrong with the parsing of the provided map data, exiting -->
        return;
    }

    // Width/Height
    Int32 height = map.Height, width = map.Width;
    if( Parameter[ "Height" ] != "" )
    {
        height = Int32.Parse( Parameter[ "Height" ] );
    }

    if( Parameter[ "Width" ] != "" )
    {
        width = Int32.Parse( Parameter[ "Width" ] );
    }
}*@
@{
    var map = Model.GetPropertyValue( Parameter[ "MapPropertyName" ].ToString() );
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US">
<head>    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
</head>
<body>
    <script src="/umbraco/plugins/meramedia.GoogleMap.plugin/googlemaps.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?sensor=false" type="text/javascript"></script>
    <script>
        function initialize() {
            var mapSettings = $.parseJSON('@(Html.Raw(map))');
            var settings = new Meramedia.GoogleMaps.RenderSettings("map_0", mapSettings);
            var map = new Meramedia.GoogleMaps.GoogleMap(settings);
            map.Initialize();
        }
        google.maps.event.addDomListener(window, 'load', initialize);
    </script>
    <div id="gmapContainer_0" class="overviewMap" style="height: 500px; width: 500px;">
        <div class="gMap" id="map_0" style="width:500px;height:500px;"></div>
    </div>
</body>
</html>